*{
    margin: 0;
    padding: 0;
}

.main-header{
    background-color: #98FB98;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-header span{
    margin-top: 3%;
    font-family: 'Courier New', Courier, monospace;
}

.main-header h1 {
    color: #000;
    font-size: 6vw;
    font-family: 'Courier New', Courier, monospace;
}

.main-section{
    max-width: 700px;
    margin: 0 auto;
    padding: 10%;
}

.main-section p{
    font-size: 4vw;
}

.main-section q{
    font-family: 'Courier New', Courier, monospace;
}